

.mainProductos {

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        margin: auto;
        padding: 50px;
        column-gap: 20px;
        row-gap: 40px;

        .gridItem {
            display: flex;
            flex-wrap: wrap;
            border: linear-gradient(90deg, rgba(36, 0, 0, 0.9641106442577031) 0%, rgba(140, 60, 90, 0.8352591036414566) 100%) 7px solid;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background: linear-gradient(90deg, rgba(36, 0, 0, 0.9641106442577031) 0%, rgba(140, 60, 90, 0.8352591036414566) 100%);
            padding: 7px;

            img {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

}